@page "/home"
@inject NavigationManager NavigationManager
@inject IJSRuntime JS

@* Pantalla principal. *@
<div class="flex h-screen w-full flex-col items-center justify-center dl:flex-row">


    <div class="flex w-full max-w-lg flex-col items-center justify-center p-5">


        @* Obtener la imagen de perfil. *@
        @{
            string url = $"data:image/png;base64,{Convert.ToBase64String(LIN.Access.Auth.SessionAuth.Instance.Account.Profile)}";
        }

        @* Perfil. *@
        <LIN.Vault.Components.Elements.PopSession OnClick="CloseSession" />

        @* Bienvenida. *@
        <label class="mt-2 text-xl text-zinc-600 dark:text-zinc-200">Bienvenido, <span class="text-black dark:text-white">@LIN.Access.Auth.SessionAuth.Instance.Account.Name</span></label>
        <label class="text-sm text-zinc-400 dark:text-zinc-400">@LIN.Access.Auth.SessionAuth.Instance.Account.Identity.Unique</label>

        @if (!IsAvaible)
        {
            <div class="mt-3 flex items-center justify-center gap-2">
                <img src="./img/fingerprint.png" class="h-4 w-4" />
                <label class="text-xs dark:text-zinc-300">Este dispositivo no tiene lector de huellas</label>
            </div>
        }

        @* Contador de llaves. *@
        <div class="mt-6 flex w-full rounded-xl bg-zinc-100 p-3 dark:bg-zinc-800">
            <img class="h-10 w-10" src="./img/key.png" />
            <div class="ml-3 flex flex-col">
                <label class="font-bold dark:text-white">Hoy</label>
                <label class="-mt-1 text-sm text-zinc-600 dark:text-zinc-400">Hoy se han usado <span class="font-bold">@count</span> llaves</label>
            </div>
        </div>

    </div>
    

    <div class="w-full overflow-y-scroll rounded-t-lg p-5 dl:h-full">

        <label class="mb-4 text-xl font-bold dark:text-white">Mis Cuentas</label>

        <div class="mt-3 w-full">
           
            <button @onclick="A">QR</button>
            <LIN.Vault.Components.Elements.OTPComponent />

        </div>

    </div>

</div>


@* Drawer. *@
<LIN.Vault.Components.Elements.Drawer @ref="Drawer" OnAccept="OnSuccess" />