<Router AppAssembly="@typeof(MauiProgram).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(Layout.MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>

        <div class="flex min-h-screen flex-grow items-center justify-center">
            <div class="rounded-lg bg-gray-100 p-8 text-center shadow-xl dark:bg-zinc-800">
                <h1 class="mb-4 text-4xl font-bold dark:text-zinc-200">Error</h1>
                <p class="text-gray-600 dark:text-zinc-300">Esta característica todavía no esta disponible.</p>
                <a href="/" class="mt-4 inline-block rounded bg-current-500 px-4 py-2 font-semibold text-white hover:bg-current-600">Volver atras</a>
            </div>
        </div>

    </NotFound>
</Router>
